@import 'theme.sass'

.game-over
  background: $color-gameover-bg
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0

.game-over-title
  font: 38px Arial, sans-serif
  margin: 100px 0 0
  text-align: center
