@import 'theme.sass'

.start-level
  background: transparentize($color-startlevel-bg, 0.3)
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 0
  z-index: $z-startlevel

.start-level-title
  color: $color-startlevel-title
  font: 600 38px $font-family
  margin: 100px 0 0
  text-align: center

.start-level-content
  padding: 0 30px

.start-level-item
  border: 1px solid $color-startlevel-button-border
  color: $color-startlevel-button
  cursor: pointer
  display: inline-block
  font: 600 38px $font-family
  padding: 0 30px
  text-align: center
